<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h2>Credentials</h2>
    <h3>id: {{ id }} email: {{ email }} login: {{ login }}</h3>
    <h2>User info</h2>
    <h3>first_name: {{ first_name }} last_name: {{ last_name }}</h3>
    <h2>Other info</h2>
    <h3>correction_point: {{ correction_point }} wallet: {{ wallet }}</h3>
    <h4>pool_month: {{ pool_month }} pool_year: {{ pool_year }}</h4>
</body>
</html>
