<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchmaking</title>
</head>
<body>
    <button onclick="apriWebSocket()">start</button>

    <script>
        var socket;

        function apriWebSocket() {
            // Sostituisci 'URL_DEL_TUO_WEBSOCKET' con l'URL effettivo del tuo WebSocket
            var urlWebSocket = 'ws://localhost:8000/ws/pong/queue/';

            // Apri la connessione WebSocket
            socket = new WebSocket(urlWebSocket);

            // Gestisci gli eventi WebSocket
            socket.onopen = function (event) {
                console.log('Connessione WebSocket aperta:', event);
            };

            socket.onmessage = function (event) {
                console.log('Messaggio ricevuto:', event.data);
                socket.close()
            };

            socket.onclose = function (event) {
                console.log('Connessione WebSocket chiusa:', event);
            };

            socket.onerror = function (event) {
                console.error('Errore WebSocket:', event);
            };
        }
    </script>

</body>
</html>
