<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="passwordSwitch">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/685f80eb-264a-484c-8863-c5d62f613d3b/dbqeezu-25485b65-6c2b-4889-9b12-37ea76d33edb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY4NWY4MGViLTI2NGEtNDg0Yy04ODYzLWM1ZDYyZjYxM2QzYlwvZGJxZWV6dS0yNTQ4NWI2NS02YzJiLTQ4ODktOWIxMi0zN2VhNzZkMzNlZGIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bZaWobgtvJ2eZlhcSpmkQuXa7fA_jtSBO_KmpPwpE2M" alt="">
    </div>
    <script src="home3dModel.js"></script>
</body>
</html>