<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="base">
        <div class="firstLine">
            <div class="text">
                <h1>Our Game</h1>
                <p>
                    Our game is handcrafted to deliver the best experince possible. We take care of the game development from the beginning trogh the final touches... 
                </p>
            </div>
            <canvas id="padle">

            </canvas>
        </div>
    </div>
    <script src="home3dModel.js"></script>
</body>
</html>