<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="userInfoContainer">
        <div class="leftSide">

        </div>
        <div class="formSide">
            <div class="inputLine">
                <label for="firstName">firstName:</label>
                <input type="text" id="firstName">
            </div>
            <div class="inputLine">
                <label for="lastName">lastName:</label>
                <input type="text" id="lastName">
            </div>
            <div class="inputLine">
                <label for="birthdate">birthdate:</label>
                <input type="date" id="birthdate">
            </div>
            <div class="inputLine">
                <label for="username">username:</label>
                <input type="text" id="username" disabled="true">
            </div>
        </div>
    </div>
    <script src="home3dModel.js"></script>
</body>
</html>