*{
    border-radius: 8px !important;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.account{
    border-radius: 10px !important;
}

.profilePictureUrl{
    border-radius: 10px !important;
}

.base
{
    height: 92svh;
    width: 100svw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left, .right{
    width: 15%;
    padding: 20px;
    height: 92svh;
    backdrop-filter: blur(10px);
}

.center{
    width: 70%;
    height: 92svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#usersDisplay{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    margin-bottom: 5svh;
    margin: 20px;
}

#startQueque{
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.btnContainer{
    width: 100svw;
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileControl, .display{
    display: none;
}

.btnWindow button{
    background-color: white;
}

.btnWindow{
    width: 25%;
    height: 30%;
    padding: 20px;
    color: white;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

#opponentDisplay, #currentUserDisplay{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;

}
#myCanv, #waitCanv
{
    /* border: 3px solid white;
    border-left: 3px dotted white;
    border-right: 3px dotted white; */
}

@media screen and (max-width: 900px) {
    .base{
        flex-direction: column;
    }

    .left, .right{
        display: none;
    }
    .center{
        width: 100%;
        height: 92svh;
        justify-content: space-between;
    }

    .mobileControl{
        background-color: white;
        padding: 10px;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
    }
    .display{
        height: 20%;
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;

    }

    #opponentDisplay, #currentUserDisplay{
        width: 45%;
    }
    .btnWindow{
        width: 75%;
        height: 30%;
    }
    .mobile{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        -webkit-user-select:none;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    }
    
}