.left
{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.base{
    width: 100%;
    height: 92svh;
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.filler{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px black;


}

.gameStat{
    width: 24%;
    height: 100%;
    padding: 5px;
    background-color: var(--bs-success);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid black;
box-shadow: 7px 7px black;
}

.statsContainer{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    background-color: white;
box-shadow: 7px 7px black;
border: 2px solid black;

}

.cardBody{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* gap: 20px; */
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}

.anagraph h3, .gameStat h3, .gameStat h6{
    font-size:x-small;
    width: 100%;
    word-wrap: break-word;
}

.userAndImage
{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-color: white;
    border: 2px solid black;
    box-shadow: 7px 7px black;
    gap: 20px;
}

.imgContainer {
    width: 50%;
    height: 70%;
    padding: 10px;
    box-shadow: 7px 7px black;border: 2px solid black;
}

.imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
}

.name{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.anagraph{
    width: 45%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
align-items: flex-start;
    justify-content: space-between;
    background-color: white;
box-shadow: 7px 7px black;border: 2px solid black;
}

.askFriend{
    width: 45%;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    outline: none;
box-shadow: 7px 7px black;border: 2px solid black; 
}

h3{
    font-size: x-small;
}

.stats
{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.canvContainer{
    width: 100%;
    height: 80%;}

.chart{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 45%;
box-shadow: 10px 10px black;border: 2px solid black; 
     padding: 20px;
     background-color: white;

}

@media screen and (max-width: 900px){
    .base{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;
    }
    .left{
        width: 100%;
    }
    .filler{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
    }
    .gameStat{
        width: 45%;
        height: 13svh;
    }
    .statsContainer{
        width: 100%;
        height: fit-content;
    }
    .stats{
        width: 100%;
        height: fit-content;
        gap: 30px;
    }
    .chart{
        width: 100%;
        height: 30svh;
    }
}