.loginForm
{
	background-image: url("/imgs/login.png");
	background-size: cover;
	border: 2px solid black;
	background-repeat: no-repeat;
	color: white;
	width: 40svw;
	height: 50svh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	box-shadow: 15px 15px black;
}


.base
{
	width: 100svw;
    height: 92svh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title
{
	width: 90%;
	text-align: start;
}

.retroBtn
{
	width: 40%;
	height: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2px solid black;
	box-shadow: 7px 7px black;
	font-weight: bolder;
	text-decoration: none;
}


.btnColor-yellow
{
	background-color: #ffb703;
}

.btnColor-green
{
	background-color: #5E794C;
	color: white;
	font-size: 20px;
}

h4
{
	color: black;
	margin: 0;
}

.retroShade
{
	transition: 0.2s;
}

.retroShade:hover
{
	box-shadow: none;
}

.line
{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 7px 7px black;
	background-color: white;
	border: 2px solid black;
	padding: 10px;

}

.line input
{
	width: 100%;
	border: none;
	font-size: 25px;
	border: 2px solid black;
}

.linebtn
{
	width: 90%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
}


.loginForm h1
{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

