.signupForm
{
	background-image: url("/imgs/register.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	width: 60svw;
	height: 65svh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	padding: 20px;
	box-shadow: 15px 15px black;
	border: 2px solid black;
}

h2
{
	margin: 0;
}

.fileSelector
{
	border: none !important;
}

.signupForm h1
{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: white;
}

.base
{
	width: 100vw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title
{
	width: 90%;
	font-size: 70px;
	text-align: start;
}

.retroBtn
{
	width: 20%;
	height: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
}


.btnColor-yellow
{
	background-color: #ffb703;
}

.btnColor-green
{
	background-color: #5E794C;
	color: white;
	font-size: 20px;
}

.retroShade
{
	
	transition: 0.2s;
}

.retroShade:hover
{
	box-shadow: none;
}

.line
{
	width: 90%;
	height: 6svh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 7px 7px black;
	background-color: white;
	border: 2px solid black;
	padding: 5px;
	transition: 0.3s;
}

.passwordSwitch, .confirmPasswordSwitch
{
	width: 20%;
	height: 80%;
	border: 2px solid black;
	border-left: none;
	padding: 5px;
	background-color: white;
}

.passwordSwitch:hover
{
	cursor: pointer;
}
.confirmPasswordSwitch:hover
{
	cursor: pointer;
}

.passInput
{
	width: 65%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.passInput input
{
	width: 90% !important;
}


.passwordSwitch img, .confirmPasswordSwitch img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.line h4
{
    width: 30%;
	text-align: center;
	margin: 0;
}

.errors
{
	width: 90%;
	background-color: #A22C29;
	box-shadow: 7px 7px black;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 20px;
	display: none;
}

.errors ul
{
	margin: 0;
}

.line input
{
	width: 70%;
	height: 80%;
	border: none;
	font-size: 25px;
	border: 2px solid black;
	outline: none;
}

.pass
{
	border-right: none !important;
	color: black;
	text-shadow: none;
}

.linebtn
{
	width: 90%;
	height: 4vh;
	display: flex;
	justify-content: space-between;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}

#inpFile
{
	position: absolute;
	left: -300svw;
}

#labelInpFile
{
	width: 70%;
	height: 80%;
	display: flex;
	align-items: center;
}

#labelInpFile:hover
{
	cursor: pointer;
}

.fileIcon
{
	width: 10%;
	height: 80%;
	object-fit: contain;
}

.selectFileText
{
	display: flex;
	align-items: flex-end;
	height: 100%;
	font-size: larger;
}

 /* Tooltip container */
 .myTooltip {
	padding: 10px;
	background-color: #000;
	position: relative;
	display: inline-block;
	color: white;
  }
  
  /* Tooltip text */
  .myTooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .myTooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .myTooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  } 