:root {
    --white: #F1FAEE;
    --blue: #1D3557;
    --light-blue: #A8DADC;
    --red: #E63946;
  }

*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 15px;
    font-weight: 500;
    scrollbar-width: none;
}

*::-webkit-scrollbar{
    display: none;
}

#timeTravel
{
    width: 5svh;
    height: 5svh;
    background-image: url("/imgs/timeTravel.png");
    background-size: cover;
    margin-right: 1svw;
    transition: 0.8s;

}

select
{
    font-size: 30px !important;
}

#timeTravel:hover
{
    transform: rotate(360deg);
    cursor: pointer;
}

html, body
{
    width: 100svw;
    min-height: 100svh;
    margin: 0;
}

.navbar-brand
{
    font-size: 20px !important;
    color: white !important;
}

.nav{
    width: 100svw !important;
}


.nav-link
{
    font-size: 30px;
    color: white !important;
}

#app
{
    width: 100svw;
    height: 94svh;
}

.account
{
    width: 15%;
    height: 7svh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.account img
{
    width: 5svh;
    height: 5svh;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .account
    {
        flex-direction: row-reverse;
        width: fit-content;
    }
    
}