:root {
    --white: #F1FAEE;
    --blue: #1D3557;
    --light-blue: #A8DADC;
    --red: #E63946;
  }

*{
    box-sizing: border-box;
    font-family: 'VT323', monospace !important;
    font-weight: 500;
}

#timeTravel
{
    width: 5svh;
    height: 5svh;
    background-image: url("/imgs/timeTravel.png");
    background-size: cover;
    margin-right: 1svw;
    transition: 0.8s;

}

select
{
    font-size: 30px !important;
}

#timeTravel:hover
{
    transform: rotate(360deg);
    cursor: pointer;
}

body
{
    margin: 0;
}

.navbar-brand
{
    font-size: 40px !important;
    color: white !important;
}

.nav-link
{
    font-size: 30px;
    color: white !important;
}

#app
{
    width: 100svw;
    height: 100svh;
}